.App {
  text-align: center;
}

html, body {
  min-height: 100vh;
}

#wrapper {
  background-color: #cfe3eb;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
  flex-direction: column;
}

#credit {
  text-align: center;
  padding-bottom: 20px;
}