.numpad-btn {
    display: flex;
    justify-content: center;
    background-color: rgba(212, 229, 233, 0.644);
    border-radius: 3px;
    cursor: pointer;
    color: darkslategrey;
}

.numpad-btn:hover {
    background-color: rgb(99, 174, 243);
    color: whitesmoke;
}

.numpad-btn span {
    margin: auto;
    font-size: 24px;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: rgb(99, 174, 243);
    background-size: 100%;
    transition: background 0s;
  }
